.navigation {
    background-color: #6a88a7; 
    color: #ffffff; 
    display: flex;
    
    align-items: center;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}


.logo img {
    height: 150px; 
}


nav {
    width: 50%;
    padding: 1%;
}


ul {
    width: 50%;
    margin-left: auto;

}
nav ul {
    list-style-type: none; 
    padding: 0; 
}
nav li {
    padding: 10px 15px;
    cursor: pointer;
}
nav li:hover {
    background-color: #34495e;
}


.heroImg {
    height: 600px;
    padding: 25px;
  
}


.content {
    width: 500px;
    margin: 0 auto;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 5px;
    
}


footer {
    background-color: #373738;
    padding: 20px;
    color: #ffffff;
    text-align: center;
   
}

footer ul {
    display: inline-block;
   
    vertical-align: top;
   
    padding: 0;
   
    margin: 0;
   
}

footer li {
    display: inline-block;

    padding: 0 10px;

}


li,
p {
    font-family: 'Open Sans', sans-serif;

}

.btnResume{
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnResume:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}



.profile-photo {
    width: 100px;       
    height: 100px;     
    border-radius: 50%; 
    object-fit: cover;  
}
.profile-container{
    display: flex;
    align-content: center;
    justify-content: center;
}
.button-container{
    display: flex;
    align-content: center;
    justify-content: center;
}
